/*                                           
**    Par SleepyNeko3                   .-''-.     
**                                   .' .-.  )    
**    Une version remplacée         / .'  / /     
**    de JVCD un theme Discord     (_/   / /      
**    pour le 18-25 de jeuxvideo.com    / /       
**      ___      _______ _____         / /       
**     | \ \    / / ____|  __ \       . '         
**     | |\ \  / / |    | |  | |     / /    _.-') 
** _   | | \ \/ /| |    | |  | |   .' '  _.'.-''  
**| |__| |  \  / | |____| |__| |  /  /.-'_.'      
** \____/    \/   \_____|_____/  /    _.'         
**                              ( _.-'
**    Merci aux contributeurs :
*/

/**** Ressources externes */
@font-face{
    font-family: Whitney;
    font-weight: 300;
    src: url(https://sleepyneko3.github.io/jvcd2/fonts/whitney.woff) format("woff");
}

/**** Variables */
:root
{
    /*Couleurs Textes*/
    --jvcd-text-normal: #dcddde;
    --jvcd-text-muted: #72767d;
    --jvcd-text-white: white;
    /*Couleurs de fonds*/
    --jvcd-background-primary: #36393f;
    --jvcd-background-secondary: #2f3136;
    --jvcd-background-tertiary: #202225;
    --jvcd-background-textarea: #40444b;
    --jvcd-background-spoiler: #4a4d53;
    --jvcd-modal-header-background: #2f3136;
    --jvcd-modal-body-background: #36393f;
    --jvcd-spoiler-cover: #202225;
    /*Couleurs des Boutons*/
    --jvcd-button-red: #f04747;
    --jvcd-button-red-hover: #d84040;
    --jvcd-button-orange: #fd612c;
    --jvcd-button-orange-hover: #F16537;
    --jvcd-button-blue: #7ba1d3;
    --jvcd-button-blue-hover: #5d84b7;
    --jvcd-button-gray: #6c7984;
    --jvcd-button-gray-hover: #424a51;
    /*Couleurs de décorations*/
    --jvcd-interactive-normal: #b9bbbe;
    --jvcd-interactive-hover: #dcddde;
    --jvcd-quote-border-left: #4f545c;
    /*Risibank*/
    --jvcd-rb-scroller: rgba(24,25,28,.6);
    /*NoelShack*/
    --jvcd-ns-button-red: #CC1D17;
    --jvcd-ns-button-red-hover: #C51613;
    --jvcd-ns-button-yellow: #FDDE02;
    --jvcd-ns-button-yellow-hover: #FEE952;
}

/**** Arrière Plans */
body,
#content:not([style]),
.container-content
{
    background: var(--jvcd-background-primary) !important;
}

/**** Page d'accueil (La liste des topics possède sa propre section) */
.titre-head-bloc
{
    margin: 0;
    padding-top: 0;
    border-top: none;
}

.bloc-outils-top
{
    margin-bottom: 8px;
    padding-bottom: 0 !important;
    border: transparent !important;
}

.conteneur-topic-pagi .bloc-pagi-default:nth-child(1)
{
    display: none;
}

.form-control
{
    border: 0 !important;
    border-radius: 8px !important;
    background: var(--jvcd-background-textarea) !important;
    color: var(--jvcd-text-normal) !important;
}

.form-control::placeholder
{
    color: var(--jvcd-text-muted) !important;
}

.btn-ajouter-sondage
{
    background-color: var(--jvcd-button-blue);
    border: #0000 !important;
    border-radius: 5px;
    line-height: 1.5em;
    text-transform: none;
    transition: background-color .17s ease,color .17s ease;
}

.btn-ajouter-sondage:hover
{
    background: var(--jvcd-button-blue-hover) !important;
}

.btn-supprimer-sondage
{
    transition: background-color .17s ease,color .17s ease;
    line-height: 1.5em;
    background: var(--jvcd-button-red);
    border: #0000 !important;
    border-radius: 5px;
    text-transform: none;
}

.btn-supprimer-sondage:hover
{
    background: var(--jvcd-button-red-hover);
}

.icon-cancel-circle:hover
{
    color: var(--jvcd-button-red-hover) !important;
}

.href-ajouter-reponse
{
    color: var(--jvcd-interactive-normal);
    padding-left: 10px;
}

.href-ajouter-reponse:hover
{
    color: var(--jvcd-interactive-hover);
}

.hr-separated-dashed
{
    display: none;
}

/**** Barre de recherche forum */
.bloc-rech-forum
{
    text-align: right;
    background: transparent;
    padding-right: 0px !important;
}

.btn-lancer-rech,
.select-search,
.txt-search
{
    background: var(--jvcd-background-tertiary) !important;
    border-color: var(--jvcd-background-tertiary) !important;
}

.btn-lancer-rech,
.select-search,
.txt-search::placeholder
{
    color: var(--jvcd-text-muted) !important;
    opacity: 1;
}

.txt-search
{
    color: var(--jvcd-text-normal) !important;
    margin: 0 !important;
    border-radius: 5px 0px 0px 5px;
    border: white !important;
    border-right: transparent !important;
    padding-left: 6px !important;
}

.select-search
{
    margin: 0 !important;      
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    border-radius: 0 !important;
}

.select-search {
    background-image:
        linear-gradient(45deg, transparent 50%, var(--jvcd-text-muted) 50%),
        linear-gradient(135deg, var(--jvcd-text-muted) 50%, transparent 50%) !important;
     background-position:
        calc(100% - 20px) calc(1em + 0px),
        calc(100% - 15px) calc(1em + 0px) !important;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em !important;
    background-repeat: no-repeat !important;
}

.select-search:focus {
    background-image:
        linear-gradient(45deg, var(--jvcd-text-muted) 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, var(--jvcd-text-muted) 50%) !important;
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em !important;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat !important;
    outline: 0 !important;
}

.btn-lancer-rech
{
    margin: 0;
    border-radius: 0px 5px 5px 0px !important;
    border-left: transparent;
}

/**** Colonne de droite */
.panel-heading,
.titre-info-fofo
{
    text-transform: none !important;
}

.panel-jv-forum .panel-heading
{
    border-radius: 10px 10px 0 0;
    background: var(--jvcd-background-tertiary) !important;
    color: var(--jvcd-text-normal) !important;
}

.panel-jv-forum
{
    border-radius: 10px;
    background: var(--jvcd-background-secondary) !important;
    color: var(--jvcd-text-normal) !important;
}

/**** Éditeur de texte */
.btn-group
{
    background: transparent !important;
    border:  transparent !important;
}

.btn-jv-editor-toolbar
{
    color: var(--jvcd-interactive-normal) !important;
    border-radius: 5px !important;
}

.btn-jv-editor-toolbar:active,
.btn-jv-editor-toolbar:focus
{
    background-color: var(--jvcd-background-textarea) !important;
    box-shadow: none !important;
}

.btn-jv-editor-toolbar:hover
{
    color: var(--jvcd-interactive-hover) !important;
}

#risi-recherche
{
    color: var(--jvcd-text-normal) !important;
}

#risi-recherche::placeholder,
#risi-rlogo
{
    color: var(--jvcd-text-muted);
    opacity: 1;
}

.risi-tab:hover
{
    cursor: unset !important;
    background: transparent !important;
}


#risi-rtab,
#risi-rlogo
{
    background: var(--jvcd-background-tertiary) !important;
    border: transparent !important;
}

#risi-setting,
#risi-random
{
    border: transparent !important;
}

.label-previsu,
.risi-smitem
{
    color: var(--jvcd-interactive-normal) !important;
}

.risi-smitem:hover,
.risi-smitemactif
{
    color: var(--jvcd-interactive-hover) !important;
}

.conteneur-editor,
#f-fstk,
.f-top,
.f-tabs-w,
.f-tabs-r,
.text-editor,
.area-editor,
.f-mid
{
    border: 0 !important;
    background-color: var(--jvcd-background-textarea) !important;
}


#message_topic,
#message
{
    color: var(--jvcd-text-normal) !important;
    min-height: 100px;
}

.conteneur-editor
{
    padding: 5px !important;
}

#message_topic,
.conteneur-editor
{
    border: none !important;
    border-radius: 8px;
    background-color: var(--jvcd-background-textarea) !important;
}

#message_topic::placeholder,
#message::placeholder
{
    color: var(--jvcd-text-muted) !important;
    opacity: 1;
}

.previsu-editor
{
    background-color: var(--jvcd-background-primary) !important;
    border-radius: 8px;
}

.btn-poster-msg
{
    border-radius: 3px !important;
    border: 0 !important;
    color: var(--jvcd-text-white) !important;
    text-transform: none;
    transition: background-color .17s ease,color .17s ease;
    background-color: var(--jvcd-button-orange) !important;
}

.btn-poster-msg:hover
{
    color: var(--jvcd-text-white) !important;
    background-color: var(--jvcd-button-orange-hover) !important;
}

/**** Boutons */
.btn-actu-new-list-forum,
.btn-forum-modo,
.btn-repondre-msg,
.btn-select-msg-modo,
.btn-sondage-forum,
.btn-topic-resolu
{
    color: var(--jvcd-text-white) !important;
    box-shadow: none !important;
    border-radius: 3px !important;
    border: 0 !important;
    text-transform: none !important;
    font-family: Whitney !important;
    font-size: 13.5px !important;
    transition: background-color .17s ease,color .17s ease;
}

.btn-actu-new-list-forum:active,
.btn-actu-new-list-forum:focus,
.btn-forum-modo:active,
.btn-forum-modo:focus,
.btn-repondre-msg:active,
.btn-repondre-msg:focus,
.btn-select-msg-modo:active,
.btn-select-msg-modo:focus,
.btn-sondage-forum:active,
.btn-sondage-forum:focus,
.btn-topic-resolu:active,
.btn-topic-resolu:focus
{
    color: var(--jvcd-text-white) !important;
}

.pagi-suivant-actif,
.pagi-precedent-actif,
.pagi-fin-actif,
.pagi-debut-actif
{
    border-radius: 3px !important;
    transition: background-color .17s ease,color .17s ease;
}

.btn-sondage-forum:hover
{
    background: var(--jvcd-button-gray-hover) !important;
}

/**** Rendu des messages */
.text-enrichi-forum
{
    color: var(--jvcd-text-normal) !important;
    font-family: Whitney;
    font-size: 14px;
}

.code-jv
{
    color: var(--jvcd-text-normal) !important;
    background-color: var(--jvcd-background-secondary) !important;
    border-radius: 3px !important;
    font-family: Consolas,Menlo,Monaco,Courier New,monospace !important;
}

.pre-jv
{
    background-color: var(--jvcd-background-secondary) !important;
    border-radius: 4px !important;
    border-color: var(--jvcd-background-tertiary) !important;
}

.txt-spoil
{
    background: var(--jvcd-background-tertiary) !important;
    font-family: Whitney;
    border-radius: 3px;
}

.contenu-spoil
{
    background: var(--jvcd-background-spoiler) !important;
    border-radius: 3px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
}

.aff-spoil,
.masq-spoil
{
    display: none !important;
}

.blockquote-jv
{
    background: var(--jvcd-background-tertiary) !important;
    border-radius: 3px;
    border-left-color: var(--jvcd-quote-border-left) !important;
    color: var(--jvcd-text-normal) !important;
}

.nested-quote-toggle-box::before
{
    display: none;
}

.nested-quote-toggle-box::after
{
    background-color: transparent !important;
    border: 0 !important;
    color: var(--jvcd-interactive-normal) !important;
}

.nested-quote-toggle-box::after:hover
{
    color: var(--jvcd-interactive-hover) !important;    
}

/**** Page Topic */
.bloc-sondage
{
    background: var(--jvcd-background-secondary) !important;
    border-radius: 10px;
    font-family: Whitney;
}

.intitule-sondage
{
    margin-bottom: 5px !important;
}

.btn-sondage-reponse
{
    font-size: 14px;
    background-position-y: center !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 10px !important;
    border-radius: 3px !important;
    transition: background-color 0.2s ease;
}

.btn-sondage-reponse:hover
{
    background-color: var(--jvcd-button-orange) !important;
}

.reponse
{
    padding: .5rem !important;
    padding-top: .3rem !important;
    font-size: 14px !important;
}


.titre-head-bloc-sondage,
.pied-result
{
    border: 0 !important;
}

.pied-result
{
    margin-top: 0 !important;
    padding-top: 5px !important;
    font-size: 16px !important;
    font-weight: 1000 !important;
}

.pourcent
{
    background: transparent !important;
    position: absolute;
}

.back-barre,
.back-barre span
{
    height: 1.2rem !important;
    border-radius: 3px;
}

.page-active
{
    border-radius: 3px !important;
}

.bloc-message-forum
{
    background: var(--jvcd-background-secondary) !important;
    border: 0 !important;
    border-radius: 10px;
}

.bloc-pseudo-msg
{
    color: var(--jvcd-text-normal) !important;
    font-family: Whitney !important;
    font-weight: 800 !important;
}

.back-img-msg
{
    background: transparent !important;
    border: 0 !important;
}

.user-avatar-msg
{
    border-radius: 3px;
}

.bloc-header
{
    border-bottom: 0 !important;
    margin-bottom: 0px !important;
}

.signature-msg
{
    border-top: 3px var(--jvcd-text-muted) solid !important;
    margin-top: 0 !important;
}

.info-edition-msg
{
    margin-top: 5px !important;
}

/**** Intégration JVChat */
.jvchat-bloc-avatar
{
    box-shadow: none !important;
}

.jvchat-author
{
    color: var(--jvcd-text-white) !important;
    font-family: Whitney !important;
    font-weight: 1000 !important;
}

.jvchat-ruler
{
    border-color: transparent !important;
    margin-top: 15px !important;
}

.jvchat-reduced,
#bloc-formulaire-forum
{
   margin-bottom: 10px !important; 
}

#jvchat-post,
#jvchat-reduce,
#jvchat-enlarge
{
    background: transparent;
    border: none;
    color: var(--jvcd-interactive-normal);
}

#jvchat-post:active,
#jvchat-post:focus,
#jvchat-reduce:active,
#jvchat-reduce:focus,
#jvchat-enlarge:active,
#jvchat-enlarge:focus
{
    border: 0 !important;
}

#jvchat-post:hover,
#jvchat-reduce:hover,
#jvchat-enlarge:hover
{
    color: var(--jvcd-interactive-hover);
}

/**** Extras */
.sponsoTab,
#totalblacklistbar,
.sideWootbox,
.form-harassment, /*:noel:*/
.bloc-harassment-login,
.jv-nav-harassment-warning,
.video-footer-container,
.external-links,
div.highlight
{
    display: none !important;
}

.jv-nav-dropdown-container-content
{
    bottom: 3.5rem !important;
}

/*Fix du footer sur le login */
.container-content
{
    min-height: 38.4rem !important;
}

/* Fix de l'icone de notification wtf ? */
.icon-bell-off
{
    background-color: #00000030 !important;
    color: var(--jvcd-background-primary) !important;
}

.icon-bell-off:hover
{
    background-color: #000000F0 !important;
}